@import '../../styles.scss';

.header{
    &-nav{
      left: 0;
      top: 0;
      width: 100%;
      z-index: 1000;
      transition: 300ms;
      background-color: transparent;
      height: 91px;
      display: flex;
      align-items: center;
      border: 1px solid rgba(0, 0, 0, 0.05);
      box-sizing: border-box;
      box-shadow: 0px 12px 24px rgba(68, 68, 68, 0.1);
      color: #000;
      &-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      & button{
        border: none;
        background: none;
      }
    }
    &-page{
      position: relative;
      height: 450px;
      &__img{
        width: 100%;
        height: 100%;
        & img{
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-content{
        position: absolute;
        padding: 150px 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
      }
      &__title{
        font-size: 70px;
        color: #fff;
        font-weight: 400;
        font-family: "Heebo", sans-serif;
        letter-spacing: .05em;
        text-transform: uppercase;
      }
      &__breadcrumbs{
        & ul{
          list-style: none;
          font-size: 18px;
          line-height: 1.33;
          font-weight: 500;
          letter-spacing: .1em;
          text-transform: uppercase;
          font-family: "Heebo", sans-serif;
          color: rgba(255, 255, 255, 0.53);
          display: flex;
          justify-content: center;
          & a{
            color: rgba(255, 255, 255, 0.53);
            &:hover{
              color: #ffce40;
            }
          }
          & li{
            margin: 0 15px;
          }
          & .active{
            color: #ffce40;
          }
        }
      }
    }
  }
  
  
  
  /* navbar */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
  }
  
  
  /* logo  */
  .logo {
    font-size: 30px;
    font-family: "Teko", sans-serif;
  }
  
  
  /* ul  */
  .navMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style: none;
  }
  
  .navLink{
    padding: 10px 0;
    font-size: 18px;
    letter-spacing: .05em;
    text-transform: uppercase;
    color: #000;
    z-index: 1;
    position: relative;
    display: inline-block;
    font-family: "Heebo", sans-serif;
    @include breakpoint(tab-land){
      font-size: 15px;
    }
    
    &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      height: 0;
      width: 100%;
      background: #4b5055;
      border-top: 3px solid #ffce40;
      visibility: hidden;
      opacity: 0;
      z-index: -1;
      transform: translate3d(-100%, 0, 0);
      transition: all 0.35s cubic-bezier(0.05, 0.29, 0.11, 1.54), height 0.3s ease;
    }
    &:hover::before {
      opacity: 1;
      visibility: visible;
      transform: translate3d(0, 0, 0);
    }
  }
  
  /* media queries */
  
  @media screen and (max-width: 780px) {
  
    /* hamburger */
    .hamburger {
      display: block;
      cursor: pointer;
      
    }
  
    .bar {
      background-color: #9b9b9b;
      width: 20px;
      height: 3px;
      display: block;
      margin: 5px;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
    }
  
    /* adding active class to the bars  */
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    }
  
  
    /* navMenu */
  
    .navMenu {
      position: absolute;
      flex-direction: column;
      gap: 0;
      top: 75px;
      left: -100%;
      text-align: start;
      width: 100%;
      transition: 0.7s ease-in-out;
      background-color: #f4f4f4;
      padding: 10px;
      z-index: 100;
    }
  
    .navMenu.active {
      left: 0;
    }
  
    .navMenu li {
      
    }
    .navbar{
      justify-content: flex-end;
    }
  }

.dark {
  & .header-nav{
    background-color: rgb(3, 7, 18);
    & svg{
      color: #fff;
    }
  }
  & .navLink{
    color: #fff;
  }
}